<p></p>
<p></p>
<div class="titulo">
    <h1>FAQ - CARDEAL</h1>
</div>
<div class="subtitle">
    <h2>Perguntas mais frequentes</h2>
</div>
<div class="faq">
    <p>
    </p>
    <p>Do que se trata o site da Cardeal ? </p>
    <ul>
        <li>O projeto é uma aplicação de uma imobiliária virtual, que tem como um dos seus principais objetivos auxiliar
            os clientes a encontrar seus futuros e possíveis imóveis, que gostariam de comprar ou alugar.</li>
    </ul>
    <p>Como posso alugar ou comprar um imóvel pelo site ?</p>
    <ul>
        <li>A compra e aluguel de imóveis pelo site é fácil e simples, basta entrar em contato com um dos nossos
            corretores, que ele será o intermediário da negociação, atuando de maneira a garantir que tudo seja feito o
            mais rápido e de maneira mais transparente possível.</li>
    </ul>
    <p>É possível disponibilizar um imóvel para alugar ou vendê-lo no site ? </p>
    <ul>
        <li>Sim, isso é possível ! Entrando em contato com um dos nossos corretores registrados no site, ele conseguirá
            cadastrar o seu imóvel na nossa plataforma, de maneira que você não precisará se preocupar em realizar todo
            esse processo.</li>
    </ul>
    <p>O que difere de um outro site de imobiliária ou compra, venda e aluguel de imóveis ? </p>
    <ul>
        <li>O nosso site se diferente pela simplicidade e praticidade, dando uma conforto a mais para o nosso cliente.
        </li>
    </ul>
    <p>Como faço para entrar em contato com um corretor ?</p>
    <ul>
        <li>Os números de contato dos corretores cadastrados no site, estarão sempre disponíveis para que você ligue ou
            chame em um aplicativo de mensagens de texto.</li>
    </ul>
    <p>Como faço para retirar o meu imóvel do site ? </p>
    <ul>
        <li>Você pode entrar em contato com um corretor cadastrado no site da Cardeal e solicitar que ele retire o seu
            imóvel do site.</li>
    </ul>
    <p>Como faço para ser um corretor do site ? </p>
    <ul>
        <li>É simples ! Você que tem interesse em ser um corretor, pode efetuar o seu cadastro de maneira rápida e
            simples pela plataforma.</li>
    </ul>
</div>