<div class="container_titulo">
  <h1 class="titulo_cadastro">Cadastro Agendamento</h1>
</div>

<section>
  <div class="container_img">
    <img class="img_corretor" src="assets/img/cidade.svg" />
  </div>

  <div class="container_cadastro">
    <div class="links_forms">
      <span class="link_cadastro">Cadastro Agendamento</span>
    </div>

    <div class="container_form">
      <form class="form">
        <input
          [(ngModel)]="proprietario"
          type="text"
          list="clientes"
          id="idClient"
          name="idClient"
          placeholder="Proprietário"
        />
        <datalist id="clientes">
          <option *ngFor="let row of clientes" value="{{ row.name }}">
            {{ row.name }}
          </option>
        </datalist>
        <br />
        <!-- <input
            type="text"
            [(ngModel)]="agendamentoObj.idClient"
            id="name"
            name="name"
            placeholder="Cliente"
          /><br /> -->
        <input
          type="text"
          id="property"
          [(ngModel)]="idProperty"
          name="property"
          placeholder="Propriedade"
        /><br />
        <input
          type="date"
          id="date"
          [(ngModel)]="dateMeeting"
          name="date"
          placeholder="Data"
        /><br />
        <button type="submit" class="botao_cadastro" (click)="handlerSubmit()">
          Realizar Agendamento
        </button>
      </form>
    </div>
  </div>
</section>
