<div class="titulo">
    <h1>Encontre o lugar ideal para você!</h1>
</div>

<div class="busca">
    <div class="titulo_busca">
        <span>Está buscando por um imóvel?</span>
    </div>
    <img class = "img_busca" src="assets/img/home_busca.svg">
    <div class="descricao_busca">
        <p>
            Seja para alugar ou comprar, aqui você encontra as melhores propriedades com as características que deseja e agenda uma visita com o corretor na hora.
        </p>
        <div>
            <button type="button" class="botao_busca" routerLink="buscar-imovel">
                Quero procurar um imóvel
            </button>
        </div>
    </div>
</div>



<div class="venda">
    <div class="titulo_venda">
        <span>Está vendendo ou alugando um imóvel?</span>
    </div>
    <img class = "img_venda" src="assets/img/home_venda.svg">
    <div class="descricao_venda">
        <p>
            Deseja alugar ou vender, aqui você pode contactar um de nossos corretores para que eles cadastrem sua propriedade rapidamente e gerenciem todo o processo de aluguel ou venda, sendo notificado de todo o processo.
        </p>
        <div>
            <button type="button" class="botao_venda">
                Visualizar lista de corretores
            </button>
        </div>
    </div>
</div>

<div class="corretor">
    <div class="titulo_corretor">
        <span>É corretor(a) de imóveis?</span>
    </div>
    <img class = "img_corretor" src="assets/img/home_corretor.svg">
    <div class="descricao_corretor">
        <p>
            Se cadastre e aguarde a aprovação para começar a gerenciar as propriedades.
        </p>
        <div>
            <button type="button" class="botao_corretor" routerLink="cadastro-corretor">
                Sou corretor(a) de imóveis
            </button>
        </div>
    </div>
</div>

