<div class = "navbar">
  <div class="logo">
    <img class ="logo_logo" src="assets/img/icon_logo.svg">
    <span class="logo_titulo"> Cardeal </span>
  </div>

  <div class="links">
    <a id="link_home" routerLink="/" class ="links_texto">Home</a>
    <a class ="links_texto">Buscar Imóveis</a>
    <a class ="links_texto">Cadastrar Imóvel</a>
    <a class ="links_texto">FAQ</a>
  </div>

  <button type="button" class="botao_corretor">
    Sou corretor(a) de imóveis
  </button>
</div>
<router-outlet></router-outlet>