<body>
  <div id="nav" class="navbar">
    <div class="logo">
      <img class="logo_logo" src="assets/img/icon_logo.svg"/>
      <span class="logo_titulo"> Cardeal </span>
    </div>

    <div *ngIf="!usuarioAutenticado()" class="links">
      <a
        id="link_pagina_home"
        class="links_texto"
        routerLink="/"
        routerLinkActive="ativo">
        Home
      </a>
      <a
        id="link_busca_imoveis"
        class="links_texto"
        routerLink="buscar-imovel"
        routerLinkActive="ativo">
        Buscar Imóveis
      </a>
      <a
        id="link_faq"
        class="links_texto"
        routerLink="faq"
        routerLinkActive="ativo">
        FAQ
      </a>
    </div>

    <div class="links" *ngIf="usuarioAutenticado()">
      <a
        id="link_pagina_home"
        class="links_texto"
        routerLink="/"
        routerLinkActive="ativo">
        Home
      </a>
      <a
        id="link_busca_imoveis"
        class="links_texto"
        routerLink="buscar-imovel"
        routerLinkActive="ativo">
        Buscar Imóveis
      </a>
      <a
        id="link_cadastrar_imoveis"
        class="links_texto"
        routerLink="cadastro-imovel"
        routerLinkActive="ativo">
        Cadastrar Imóvel
      </a>
      <a
        id="link_meus_imoveis"
        class="links_texto"
        routerLink="meus-imoveis"
        routerLinkActive="ativo">
        Meus Imóveis
      </a>
    </div>

    <button  *ngIf="!usuarioAutenticado()" type="button" class="botao_corretor" routerLink="login-corretor">
      Sou corretor(a) de imóveis
    </button>

    <ul *ngIf="usuarioAutenticado()">
      <li class="links">
        <a
            id="link_meus_imoveis"
            class="links_texto"
            routerLink="meus-imoveis"
            routerLinkActive="ativo"
            >
          {{this.corretor.name}}
        </a>
        <!-- <div class="sub-meu">
          <ul>
            <li><a (click)="paginaConfiguracoes()">Editar Perfil</a></li>
            <li><a (click)="sair()">Sair</a></li>
          </ul>
        </div> -->
      </li>
    </ul>
  </div>


  <div class="conteudo">
    <router-outlet></router-outlet>
  </div>

  <div class="container">
    <div id="footer" class="footer">
      <div class="links_footer">
        <div class="atalhos">
          <p class="titulo_links">Atalhos</p>
          <div class="texto_links">
            <a routerLink="buscar-imovel">Buscar Imóvel</a>
            <br />
            <a routerLink="cadastro-imovel">Cadastrar Imóvel</a>
            <br />
            <a routerLink="cadastro-corretor">Cadastrar Corretor</a>
            <br />
            <a routerLink="/">FAQ</a>
          </div>
        </div>
        <div class="projeto">
          <p class="titulo_links">Sobre o Projeto</p>
          <div class="texto_links">
            <a
              target="_blank"
              href="https://github.com/UnBArqDsw2021-1/2021.1_G04_Cardeal"
              >GitHub</a
            >
            <br />
            <a
              target="_blank"
              href="https://unbarqdsw2021-1.github.io/2021.1_G04_Cardeal/"
              >Documentação</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
