<!-- <div class="container_form">
  <table class="table mt-3">
    <thead>
      <tr>
        <th>state</th>
        <th>city</th>
        <th>district</th>
        <th>number</th>
        <th>zipNumber</th>
        <th>numberBedroom</th>
        <th>numberBath</th>
        <th>numberPark</th>
        <th>value</th>
        <th>views</th>
        <th>idOwner</th>
        <th>media</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of imoveis">
        <td>{{ row.state }}</td>
        <td>{{ row.city }}</td>
        <td>{{ row.district }}</td>
        <td>{{ row.number }}</td>
        <td>{{ row.zipNumber }}</td>
        <td>{{ row.numberBedroom }}</td>
        <td>{{ row.numberBath }}</td>
        <td>{{ row.numberPark }}</td>
        <td>{{ row.value }}</td>
        <td>{{ row.views }}</td>
        <td>{{ row.idOwner }}</td>
        <td>{{ row.media }}</td>
        <td>
          <button (click)="view(row)">View</button>
          <button (click)="atualizarImovel(row)">Edit</button>
          <button (click)="deleteImovel(row)" class="btn2">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->
<h1 class="titulo">Meus Imóveis</h1>
<h2 class="sub-titulo">
  Estes são os imóveis sob sua gerência como corretor(a).
</h2>

<div class="card" *ngFor="let row of imoveis">
  <div class="icons">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <button class="btn" (click)="deleteImovel(row)">
      <i class="fa fa-close"></i>
    </button>
    {{ " " }}
    <button class="btn" (click)="atualizarImovel(row)">
      <i class="fa fa-pencil"></i>
    </button>
  </div>
  <img
    src="assets/img/casa.svg"
    alt="Avatar"
    style="width: 100%"
    (click)="view(row)"
  />
  <div
    class="container"
    (click)="view(row)"
    style="margin-top: 20px"
    (click)="view(row)"
  >
    <h4 class="titulo-card">{{ row.type }} para {{ row.status }}</h4>
    <p>{{ row.type }} localizada em {{ row.district }}, {{ row.city }}.</p>
    <h4 class="tipo">{{ row.type }}</h4>
    <h4 class="tipo2" style="margin-top: 20px">
      {{ row.value | currency: "R$":"symbol":".2" }}
    </h4>
  </div>
</div>

<!-- routerLink="../imovel" -->
