<div class="container_titulo">
  <h1 class="titulo_editar">Editar Informações</h1>
</div>

<div class="container_form">
    <form class = "form" (ngSubmit)="handleSubmit()">
        <input type="text" id="name" [(ngModel)]="corretor.name" name="name" placeholder="Nome Completo"><br>
        <input type="text" id="phone" [(ngModel)]="corretor.phone" name="telephone" placeholder="Telefone"><br>
        <input type="email" id="email" [(ngModel)]="corretor.email" name="email" placeholder="Email"><br>
        <div class="botoes">
          <button type="submit" class="botao_editar">Atualizar Corretor</button>
          <button class="botao_excluir" (click)="excluirConta()">Excluir Conta</button>
        </div>
    </form>
</div>
