<div class="container_titulo">
    <h1 class="titulo_cadastro">Dashboard</h1>
</div>

<div class="subpaginas">
  <a 
    id="meus_imoveis" 
    class="link_subpagina"
    routerLink="/meus-imoveis">
    Meus imóveis
  </a>
  <a 
    id="proprietarios"
    class="link_subpagina" 
    routerLink="/">
    Proprietários
  </a>
  <a
    id="clientes"
    class="link_subpagina"
    routerLink="/">
    Clientes
  </a>
  <a 
    id="agendamento" 
    class="link_subpagina" 
    routerLink="/">
    Agendamento
  </a>
</div>