<div class="container_titulo">
  <h1 class="titulo_cadastro">Cadastro de Imóvel</h1>
</div>

<section>
  <div class="container_img">
    <img class="img_corretor" src="assets/img/login.svg" />
  </div>

  <div class="container_cadastro">
    <div class="container_form">
      <form id="form">
        <div class="coluna1">
          <input
            type="text"
            id="idOwner"
            [(ngModel)]="idOwner"
            name="idRealtor"
            placeholder="Proprietário"
          />
          <br />
          <input
            type="text"
            id="state"
            [(ngModel)]="state"
            name="state"
            placeholder="Estado"
          />
          <br />
          <input
            type="text"
            id="city"
            [(ngModel)]="city"
            name="city"
            placeholder="Cidade"
          />
          <br />
          <input
            type="text"
            id="district"
            [(ngModel)]="district"
            name="district"
            placeholder="Bairro"
          />
          <br />
          <input
            type="text"
            id="number"
            [(ngModel)]="number"
            name="number"
            placeholder="Número"
          />
          <br />
          <input
            type="text"
            id="zipNumber"
            [(ngModel)]="zipNumber"
            name="zipNumber"
            placeholder="CEP"
          />
          <br />
          <input
            type="text"
            list="contrato"
            id="status"
            [(ngModel)]="status"
            name="status"
            placeholder="Tipo de negocio"
          />
          <datalist id="contrato">
            <option value="Venda"></option>
            <option value="Aluguel"></option>
          </datalist>
          <br />
        </div>
        <div class="coluna2">
          <input
            type="text"
            list="tipos"
            id="type"
            [(ngModel)]="type"
            name="type"
            placeholder="Tipo"
          />
          <datalist id="tipos">
            <option value="Casa"></option>
            <option value="Terreno"></option>
            <option value="Apartamento"></option>
            <option value="Comercial"></option>
          </datalist>
          <br />
          <input
            type="text"
            id="size"
            [(ngModel)]="size"
            name="size"
            placeholder="Tamanho m²"
          />
          <br />
          <input
            type="number"
            id="numberBedroom"
            [(ngModel)]="numberBedroom"
            name="numberBedroom"
            placeholder="N⁰ Quartos"
          />
          <br />
          <input
            type="number"
            id="numberBath"
            [(ngModel)]="numberBath"
            name="numberBath"
            placeholder="N⁰ Banheiros"
          />
          <br />
          <input
            type="number"
            id="numberPark"
            [(ngModel)]="numberPark"
            name="numberPark"
            placeholder="Vagas de Estacionamento"
          />
          <br />
          <input
            type="text"
            id="value"
            [(ngModel)]="value"
            name="value"
            placeholder="Valor"
          />
          <br />
          <div class="inserir_fotos">
            <input
              type="file"
              id="media"
              [(ngModel)]="media"
              name="media"
              placeholder="Url Fotos"
            />
          </div>
        </div>
      </form>
      <button type="submit" class="botao_cadastro" (click)="handlerSubmit()">
        Cadastrar Imóvel
      </button>
    </div>
  </div>
</section>
