/* Cadastro de Corretor */

.titulo_cadastro{
position: absolute;
width: 779px;
height: 89px;
left: 330.5px;
top: 192px;

font-family: Sora;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 81px;

color: #3F3D56;
}

/* Register */

.container_cadastro{
position: absolute;
width: 1184px;
height: 640px;
left: 128px;
top: 318px;
}

/* Painel Cadastro */

.form_cadastro{
position: absolute;
width: 480px;
height: 640px;
left: 832px;
top: 318px;

filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.3));
}

/* PW Input */

.field_cadastros{
position: absolute;
width: 320px;
height: 48px;
left: 912px;
}

/* imagem 1 */

.img_corretor{
position: absolute;
width: 100px;
height: 382.18px;
left: 128px;
top: 430px;
}

.container-cadastro{
    height: 100%;
    min-height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
   }