<div class="container_titulo">
        <h1 class="titulo_cadastro">Cadastro de Corretor</h1>
</div>
   
<section>
    <div class="container_img">
        <img class = "img_corretor" src="assets/img/cadastro-corretor.svg">
    </div>

    <div class="container_cadastro">
        <div class="links_forms">
            <span class="link_cadastro">Cadastro</span>
            <span class="link_login" routerLink="/login-corretor">Login</span>
        </div>
        
        <div class="container_form">
            <form class = "form" (ngSubmit)="handlerSubmit()">
                <input type="text" id="name" [(ngModel)]="name" name="name" placeholder="Nome Completo"><br>
                <input type="text" id="cpf" [(ngModel)]="cpf" name="cpf" placeholder="CPF"><br>
                <input type="text" id="phone" [(ngModel)]="telephone" name="telephone" placeholder="Telefone"><br>
                <input type="text" id="email" [(ngModel)]="email" name="email" placeholder="Email"><br>
                <input type="password" id="password" [(ngModel)]="password" name="password" placeholder="Senha"><br>
                <input type="password" id="confirm-password" [(ngModel)]="confirmpassword" name="confirmpassword" placeholder="Confirmar Senha"><br>
                <button type="submit" class="botao_cadastro">Cadastrar Corretor</button>
            </form>
        </div>
    </div>
</section>


    









