<div class="container-cadastro">
    <h1>Cadastro Corretor</h1>
</div>

<section class="container-cadastro">
    <div>
        <img class = "img_corretor" src="assets/img/cadastro-corretor.svg">
    </div>

    <form>
        <label for="fname">Nome Completo:</label><br>
        <input type="text" id="name" name="name"><br>

        <label for="lname">CPF:</label><br>
        <input type="text" id="cpf" name="cpf"><br>

        <label for="fname">Telefone:</label><br>
        <input type="text" id="phone" name="telephone"><br>
        
        <label for="lname">email:</label><br>
        <input type="text" id="email" name="email"><br>

        <label for="fname">Senha:</label><br>
        <input type="password" id="password" name="password"><br>

        <label for="lname">Confirmar Senha:</label><br>
        <input type="password" id="confirm-password" name="confirm-password"><br>
        
        <br><button>Cadastrar Corretor</button><br>
    </form>
</section>

<!-- <section class="container">
 <formclass="formulario"(ngSubmit)="transferir()">
 <h2class="formulario_titulo"> </h2>
 <divclass="form-field">
 <labelclass="form-field__label"for="valor" >Valor</label>
 <inputclass="form-field__input"id="valor"type="number"[(ngModel)]="valor"name="valor">
 </div>
 
 <divclass="form-field">
 <labelclass="form-field__label"for="destino">Destino</label>
 <inputclass="form-field__input"id="destino"[(ngModel)]="destino"name="destino"type="text">
 </div>
 
 <divclass="botao-wrapper">
 <buttontype="submit"class="botao">Transferir</button>
 </div>
 </form>
</section> -->
    









