<div class="pagina">
  <div class="container_img">
    <img class="img_corretor" src="assets/img/casa.svg" />
  </div>

  <div class="container_visualização">
    <div class="titulo">
      {{ imovel.type }} para {{ imovel.status }} com
      {{ imovel.numberBath }} quarto(s) em {{ imovel.city }},
      {{ imovel.size }}m²
    </div>
    <div class="container_dados">
      <div class="texto">
        {{ imovel.district }}, {{ imovel.city }}, {{ imovel.state }}<br />
        <b>Cep:</b> {{ imovel.zipNumber }}<br />
        <b>Proprietário:</b> {{ proprietario.name }}<br />
        <span><b> Tipo de anúncio:</b> {{ imovel.status }} </span><br />
        <span><b>Valor:</b>  {{ imovel.value | currency: "R$":"symbol":".2" }} </span>
      </div>
    </div>
    <div class="botoes">
      <button type="submit" class="botao_voltar" (click)="voltar()">
        Voltar
      </button>
      {{ " " }}
      <button type="submit" class="botao_agendar">Agendar Visita</button>
    </div>
  </div>
</div>