<!-- <div class="container_titulo">
  <h1 class="titulo_cadastro">Login do Corretor</h1>
</div> -->

<section>
  <div class="container_img">
    <img class="img_corretor" src="assets/img/casa.svg" />
  </div>

  <div class="container_login">
    <span class="titulo_cadastro">
      {{ imovel.type }} para {{ imovel.status }} com
      {{ imovel.numberBath }} quarto(s) em {{ imovel.city }},
      {{ imovel.size }}m²
    </span>
    <div class="container_form">
      <div class="texto">
        {{ imovel.district }}, {{ imovel.city }}, {{ imovel.state }}<br />
        Cep: {{ imovel.zipNumber }}<br />
        Proprietário: {{ imovel.idOwner }}<br />
      </div>
    </div>
    <div class="container_tipo">
      <span> Tipo de anúncio: {{ imovel.status }} </span><br />
      <span> Valor: {{ imovel.value | currency: "R$":"symbol":".2" }} </span>
    </div>
    <button type="submit" class="botao_login">Agendar Visita</button>
  </div>
</section>
